* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto&display=swap');

body {
    font-family: 'Anton', sans-serif;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: black;
    color: white;
    padding-left: 5px;
    width: auto;    
}

header {
    height: 30px;
    background-color: orange;
    transition: 0.9s;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.maindiv > p {
    width: 300px;
    padding-top: 20px;
    font-size: 20px;
}

.p-main {
    color: #E84305;
    margin-bottom: 8px;
    font-weight: bolder;
}

.maindiv > h1 {
    font-size: 38px;
}

@media (max-width:500px){
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

}


@media (min-width:1024px){
        main {
            font-size: 28px;
        }

}

@media (min-width:375px){
    .maindiv >h1 {
        font-size: 28px;
    }

}

@media (min-width:320px){
    .maindiv >h1 {
        font-size: 25px;
    }

}



#letra {
    color: orange;
}

footer {
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.b{
    text-decoration: none;
    color: white;
    height: 48px;
    width: 90px;
    text-align: center;
    padding-top: 15px;
}

.b:hover {
    background-color: rgb(46, 46, 46);
    color: orange;
}

.bnt {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.bnt2 {
    margin-top: 20px;
    width: 100px;
    height: 35px;
    background-color: orange;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;

}




